body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    color: #CB4335;
}

h2 {
    font-size: 1.4em;
    color: #D35400;
}

/***********
Botões */
#buttons-container button {
    border: none;
    padding: .625em 1em;
    margin: 0 2em;
    background-color: #D68910;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    transition: all .2s;
}

#buttons-container button:hover {
    background-color: #F8C471;
    color: #000;
}

/******************
O jogo */
#container {
    display: flex;
    width: 18.75em;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    margin-top: 3em;
}

.box {
    height: 6.25em;
    border: 5px solid #F1C40F;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3 {
    border-top: none;
}
#block-1, #block-4, #block-7 {
    border-left: none;
}
#block-7, #block-8, #block-9 {
    border-bottom: none;
}
#block-3, #block-6, #block-9 {
    border-right: none;
}

/*******************
Símbolos */
.x {
    font-size: 4.0625em;
    color: #723FD7;
    display: inline-block;
    line-height: 6.26em;
}

.o {
    width: 3.125em;
    height: 3.125em;
    border: 5px solid #DC8F26;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1.0625em;
}

/*******************
Esconder Objetos */
/*
.hide {
    display: none !important;
}
*/

/*****************
Placar */ 
#scoreborad-container {
    font-weight: bold;
    margin-top: 1.875em;
    font-size: 1.5625em;
    position: relative; 
    margin-right: auto;
    margin-left: auto;
}

.score-box {
    margin: 0 1.25em;
}

#x-score-board {
    color: #723FD7;
    margin-right: 3px;
}

#o-score-board {
    display: inline-block;
    width: .7em;
    height: .7em;
    border: 4px solid #DC8F26;
    border-radius: 50%;
    margin-right: 3px;
}

/******************
Mensagem de vitória */
#messege p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: 9.375em;
    width: 33vw;
    font-size: 3.125em;
    background-color: #000;
    color: #fff;
    padding: 1.25em;
    display: none;
}
